@import '../../Variables.css';

.Error {
    color: red;
    white-space: pre;
    text-align: left !important;
}

.ButtonConnections {
    color: var(--color-purple) !important;
    font-weight: 700 !important;
    font-size: 1.15rem !important;
    margin-top: 0.2rem !important;
    text-transform: capitalize !important;
}

.RemoveConnection {
    margin-left: auto;
    padding-left: 16px;
}

.Key {
    margin-top: 0.7rem !important;
}

.ConnectionAdd {
    padding-right: 4px !important;
}
