/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Material UI changes */
.MuiCheckbox-root {
  color: #3f51b5 !important;
  color: rgba(255,255,255,1) !important;
  opacity: 0.30 !important;
}

.MuiCheckbox-root:hover, .MuiCheckbox-root:focus {
  opacity: 1 !important;
}

.MuiButton-outlinedSecondary.Mui-disabled {
  border: 1px solid  rgba(255,255,255,1) !important;
}

.MuiButton-root.Mui-disabled {
  color: rgba(255,255,255,1) !important;
  opacity: 0.30 !important;
}
