@import '../../Variables.css';

/* ALL */
.Containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6rem;
}

.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}
.Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.Content, .Buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Heading {
    color: var(--color-purple);
}

/* CONTAINERS */
.ContainerId {
    width: 8rem;
}
.Status {
    width: 12rem;
}
.Image {
    width: 19rem;
}
.Command {
    width: 11.5rem;
}
.Created {
    width: 9.5rem;
}
.Ports {
    width: 12rem;
}
.Names {
    width: 12rem;
}

.ContainerId, .Image, .Command, .Created,
.Ports, .Names, .Status {
    overflow: hidden;
    margin-right: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Button {
    margin-right: 1.25rem !important;
}

.DetailTitle {
    color: var(--color-purple);
    width: 5.5rem;
}

.Headline {
    color: var(--color-purple);
}

.Containers h1,
.Containers h2 {
    font-weight: 500;
}

.Containers h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.Containers h2 {
    font-size: 1.6rem;
}

.Containers p {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.Error {
    color: red;
    white-space: pre;
    text-align: left !important;
}

/* desktop 1200 + */
@media (min-width: 1200px) {
    * {
        /* color: red; */
    }
    .Containers {
        margin-top: 10rem;
    }

    .Wrapper {
        width: 90%;
        padding: 4.5rem 2rem 5rem 2rem;
    }
    .Info {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4rem;
    }

    .Containers h1 {
        font-size: 2.5rem;
    }

    .Containers p {
        margin-bottom: 1rem;
    }

    /* Containers */
    .ContainerId {
        width: 8rem;
    }
    .Status {
        width: 12rem;
    }
    .Image {
        width: 19rem;
    }
    .Ports {
        width: 12rem;
    }
}

/* tabletLandscape 900 - 1199 */
/* @media (min-width: 900px) and (max-width: 1199px) { */
@media (max-width: 1199px) {
    * {
        /* color: blue; */
    }
    /* Containers */
    .ContainerId {
        width: 7rem;
    }

    .Buttons {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .DetailTitle {
        margin-left: 1.5rem !important;
    }
}

/* tabletPortrait 600 - 899 */
/* @media (min-width: 600px) and (max-width: 899px) { */
@media (max-width: 899px) {
    * {
        /* color: purple; */
    }
    /* Containers */
    .ContainerId, .Image {
        margin-right: 0.7rem;
    }
    .Image {
        width: 18.1rem;
    }

    .Buttons {
        flex-direction: column-reverse;
        /* margin-top: 1rem; */
    }
    .Button {
        margin-top: 0.75rem !important;
    }
    .DetailTitle {
        margin-left: 1.5rem !important;
    }
}

/* phone < 600 */
@media (max-width: 599px) {
    * {
        /* color: green; */
    }

    /* Containers */
    .Image, .Command, .Created,
    .Ports, .Names, .Status {
    width: 14rem;
    margin-right: 0;
    margin-left: 0.2rem;
    text-overflow: unset;
    white-space: normal;
    word-break: break-word;
    }
    .DetailTitle {
        margin-left: 0.2rem !important;
    }

    .ContainerId {
        width: 80%;
        /* width: fit-content; */
        /* width: auto; */
        word-break: break-word;
        margin-bottom: 1rem;
        margin-right: 0;
    }

}
